body {
    background: darkgrey;
    align-items: center;
    justify-cocntent: enter;
    background: url(img/gras.jpg);

}
canvas {
    position: absolute;
    border: 10px solid #593310;
    top: 80px;
    left: 500px;
    background: url(img/gras2.jpg);

}
