body {
    background: darkgrey;
    align-items: center;
    justify-cocntent: enter;
    background: url(img/gras.jpg);

}
canvas {
    position: absolute;
    border: 10px solid #593310;
    top: 80px;
    left: 500px;
    background-image: url(img/gras2.jpg);
    box-shadow: 16px 17px 91px 14px rgba(0,0,0,0.5);

}

