html {
	background-color: #D2D2D2;
}

body {
	margin: 0;
}

body header {
	text-align: center;
	background-color: #70AE9F;
	color: black;
	padding-bottom: 155px;
}

header h2 {
	margin: 0;
	padding-top: 25px;
	padding-bottom: 50px;
	padding-right: 12%;
	width: 75%;
	float: right;
	
}

.idk {
	margin-bottom: 60px;
	margin-top: 20px;
	position: relative;
	right: 120px;
}

nav {
	width: 85%;
	
}

nav ul {
	text-align: center;
	margin: 0 0 0 0;
	padding-left: 0;
}

nav ul li {
	list-style-type: none;
	width:20%;
	float: right;
	background: #548377;
	padding-top: 7px;
	padding-bottom: 7px;
}


.logo {
	height: 20%;
	width: 10%;
	float: left;
	position: relative;
	padding-left: 3%;

}

.div-border{
	height: 400px;
	width: 350px;
	background: #A8A8A8;
}

.flex-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.img{
	height: 75%;
	width: 90%;
	position: relative;
	top: 10px;
	left: 15px;
}

p {
	font-size: 20px;
}

footer {
	text-align: center;
	width: 100%;
	background: #71A396;
	padding-bottom: 7px;
	padding-top: 7px;
}