html {
	background-color: #D2D2D2;
}

body {
	margin: 0;
}

body header {
	text-align: center;
	background-color: #70AE9F;
	color: black;
	padding-bottom: 155px;
}

header h2 {
	margin: 0;
	padding-top: 25px;
	padding-bottom: 50px;
	padding-right: 12%;
	width: 75%;
	float: right;
	
}

.games {
	margin-bottom: 60px;
	margin-top: 20px;
	position: relative;
}

nav {
	width: 85%;
	
}

nav ul {
	text-align: center;
	margin: 0 0 0 0;
	padding-left: 0;
}

nav ul li {
	list-style-type: none;
	width:20%;
	float: right;
	background: #548377;
	padding-top: 7px;
	padding-bottom: 7px;
}

a {
	color: white;
	text-decoration: none;
}

.li {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

.enabled {
	background: #72AF9E;
}

.logo {
	padding-top: 3px;
	height: 20%;
	width: 10%;
	float: left;
	position: relative;
	padding-left: 3%;

}

.div-border{
	height: 400px;
	width: 350px;
	background: #A8A8A8;
}

.flex-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.img{
	height: 75%;
	width: 90%;
	position: relative;
	top: 10px;
	left: 15px;
}

p {
	font-size: 20px;
}

footer {
	text-align: center;
	width: 100%;
	background: #71A396;
	padding-bottom: 7px;
	padding-top: 7px;
}



.teksten {
	margin-left: 10%;
	margin-right: 10%;
}



input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #79C2B0;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #619B8D;
}

.container {
  border-radius: 5px;
  padding: 20px;
}