#game-container{
  height: 100vh;
}

div > div > div{
  border: 1px solid black;
  width: 70px;
  height: 70px;
}

div > div:nth-child(odd){
  background-color: beige;
}

div > div:nth-child(even){
  background-color: beige;
}

div > div:nth-child(even) > *:nth-child(odd){
  background-color: #692e00;
}

div > div:nth-child(odd) > *:nth-child(even){
  background-color: #692e00;
}

.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transform: rotate(90deg);
}

.spelvak{
  display: flex;
  justify-content: center;
  align-items: center;
}

.number{
  color: white;
  background-color: #692e00;
  float: left;
  position: relative;
    top: 25px;
}
